!!! 5
html(lang="en")
  head
    title Nodester API Node
  body
    :markdown
      # API Node
      Is responsible for control of the cluster. It does all the DB updates. It presents a RESTful API for management.
      **TBC**.