!!! 5
html(lang="en")
  head
    title Nodester Head LB
  body
    :markdown
      # Head LB
      Handles cluster requests for an app. Runs on head machines. Directs to relevant machine nodes that host the app.
      **TBC**.