!!! 5
html(lang="en")
  head
    title Nodester Roadmap
  body
    :markdown
      # Nodester Roadmap      
      We are currently a non versioned application and this needs to fixed. Therefore the following is a rough roadmap for the project.
      ### Pre Work
      There are various issues that require resolution. Some have been planned, others are still awaiting completion. I have treated the following as bugs, the rest I am not including here at this point as I feel they are features and require later timeslotting based upon necessity.
      #### Issues from GitHub Issue Tracker
      - [15][] Replace curl line from scripts/gitrepoclone.sh to be a JS script
      - [26][] NPM Modules list action support? ([143][] allows to be fixed.)
      - [32][] Use package.json for npm dependencies
      - [79][] Need a way to add more SSH Keys.
      - [80][] globals undefined. ([143][] fixes.)
      - [110][] Allow for an app to configure how many processes it runs on. 
      - [116][] Timezone Bug using node-time. ([143][] fixes.)
      - [117][] startfile in a subfolder. ([143][] fixes.)
      - [123][] _dirname and _filename is not correct. ([143][] fixes.)
      - [126][] push fails after gitreset (.git/FETCH_HEAD: Permission denied). ([143][] fixes.)
      - [137][] Add a Password Reset feature to Nodester.
      - [138][] Add flash policy file on port 843. (Fix already commited, in testing.)
      - [143][] chroot v0.5
      ### Version 0.5
      - Once all issues relating to [143][] have been fixed.
      - [137][] fixed.
      - [138][] fixed.
      - WebSocket support is stable.
      ### Version 0.6
      - Merge in work on git scripts. Will fix [15][] and [79][].
      ### Version 0.7
      - [32][] fixed.
      ### Version 0.8
      - job instance and job master are in use, fixing [110][].
      ### Version 0.9
      - Tests of API written.
      ### Version 1.0
      - All has been running stable for ~1month.
      - Log streaming is available.

      ### Version 2.0
      Work on this version will be completed in parallel.
      
      - machine runner - __Design__
        - job manager - __Design__
        - job instance - __WIP__
          - chroot v1.0 - __WIP__
      
      The following are actually then jobs under machine runner (job manager/instance).
      
      - front lb - __WIP__
      - head lb - __WIP__
      - db node - __WIP__
      - api node - __Design__
      - tentant applications
      
      Documents on these to follow.
      

      [15]: https://github.com/nodester/nodester/issues/15
      [26]: https://github.com/nodester/nodester/issues/26
      [32]: https://github.com/nodester/nodester/issues/32
      [79]: https://github.com/nodester/nodester/issues/79
      [80]: https://github.com/nodester/nodester/issues/80
      [110]: https://github.com/nodester/nodester/issues/110
      [116]: https://github.com/nodester/nodester/issues/116
      [117]: https://github.com/nodester/nodester/issues/117
      [123]: https://github.com/nodester/nodester/issues/123
      [126]: https://github.com/nodester/nodester/issues/126
      [137]: https://github.com/nodester/nodester/issues/137
      [138]: https://github.com/nodester/nodester/issues/138
      [143]: https://github.com/nodester/nodester/issues/143