!!! 5
html(lang="en")
  head
    title Nodester Front LB
  body
    :markdown
      # Front LB
      Handles incoming HTTP/HTTPS/TCP/UDP requests and directs them to clusters.
      Works in pairs, active/passive utilising simple heart beating and ARP broadcast failover.
      ## Variables
      - **Same as [Head LB][]**
      ## Sub Modules
      - node-lb
          - node-http-proxy
      ## Backend Processes
      - Monitors peer and if required handles failover of services.
      - Replicates persistent cache of connections and state of pools/nodes between peers.
      - Polls DB VIP for Peers, External IPs, Pools and launches them.
      - Monitors nodes for availability.
      - Services can bubble up from Head LB via API.
      - Listens for HTTP API Calls
          - **Same as [Head LB][]**
      
      [head lb]: ../head_lb/