!!! 5
html(lang="en")
  head
    title Nodester - Machine Runner
  body
    :markdown
      # Machine Runner
      A process that sits on a server and manages processes. Similar to /sbin/init; but rather than taking commands from the cli it takes network commands to setup, start, stop, restart, etc applications.
      **TBC**.