!!! 5
html(lang="en")
  head
    title Nodester
  body
    :markdown
      # Nodester

      - [Roadmap][1]
      - Version 2.0 Docs
        - [Machine Runner][2]
            - [chroot v1.0][3]
            - [Job Manager][4]
            - [Job Instance][5]
        - [API Node][6]
        - [DB Node][7]
        - [Front LB][8]
        - [Head LB][9]
        
      [1]: ./roadmap/
      [2]: ./machine_runner/
      [3]: ./chroot_v1.0/
      [4]: ./job_manager/
      [5]: ./job_instance/
      [6]: ./api_node/
      [7]: ./db_node/
      [8]: ./front_lb/
      [9]: ./head_lb/
