!!! 5
html(lang="en")
  head
    title Nodester Job Instance
  body
    :markdown
      # Job Instance
      Handles running a single process. Setups unionfs, chroot, spawn, monitor for crashes, restarts, enable pubsub for stdout/stderr.
      **TBC**.