!!! 5
html(lang="en")
  head
    title Nodester DB Node
  body
    :markdown
      # DB Node
      Provides a K/V store that is replicated in failover mode using ARP to float IP addresses around.
      **TBC**.